{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <form  action="/psignup" method="post" enctype="multipart/form-data">
      <div class="">
        <h1>Sign up</h1>
        <input type="text" name="name">
      </div>

      <input type="password" name="password" value="">
      <div class="">
        <button type="submit" class="btn btn-primary"name="button">Sign up</button>
      </div>

    </form>
<style media="screen">
    html{
      text-align: center;
    }
    form{
      text-align: center;
    }
</style>
{% endblock %}
